# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Generated data
data/raw/*.csv
data/processed/*.csv
data/validation/*.csv

# Generated outputs
outputs/benchmarks/*.csv
outputs/figures/*.png

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/validation/.gitkeep
!outputs/benchmarks/.gitkeep
!outputs/figures/.gitkeep